/*body {
	background-color: #000;
}*/

/*canvas {
	padding-top: 16px;
	margin: auto;
	margin-top: 16px;
	display: block;
}*/

* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

html, body {
	width: 100%;
	height: 100%;
}

canvas {
	position: absolute;
	display: block;
	/*cursor: none;*/
	/*cursor: url(../resources/images/cursor-000.gif) 15 15, auto;*/
}